@{
    ViewBag.Title = "Configuration";
}

<div>
    <div>
        <h2>@ViewBag.Title</h2>
        <table>
            <tr>
                <td>Output Directory: </td>
                <td> @ViewBag.OutputDir</td>
            </tr>

            <tr>
                <td>Source Name: </td>
                <td>@ViewBag.SourceName</td>
            </tr>

            <tr>
                <td>Log Name: </td>
                <td>@ViewBag.LogName</td>
            </tr>

            <tr>
                <td>Thumbnail Size: </td>
                <td>@ViewBag.ThumbSize</td>
            </tr>
        </table>
    </div>

    <div>
        <h2>Handlers</h2>

        <ul>
            @foreach (var handler in ViewBag.Handlers)
            {
                @*<li>@handler</li>*@
                <li>@Html.ActionLink((string)handler, "DeleteHandler", new { h = handler })</li>
            }
        </ul>
    </div>
</div>

