@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome! :)</h1>
    <p class="lead">This website allows you to watch and controll your Photos!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Image Service Status</h2>
        <p>@ViewBag.serviceStatus</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>How many Pictures Do You Have?</h2>
        @if (ViewBag.howManyPhotos != -1)
        {
            <p>Currently you have @ViewBag.howManyPhotos photos.</p>
        }
        else
        {
            <p>Loading the photos amount takes a bit longer than expected. Please refresh to watch the amount.</p>
        }
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Students Info</h2>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Id</th>
            </tr>
            <tr>
                <td>@ViewBag.firstName1</td>
                <td>@ViewBag.lastName1</td>
                <td>@ViewBag.id1</td>
            </tr>
            <tr>
                <td>@ViewBag.firstName2</td>
                <td>@ViewBag.lastName2</td>
                <td>@ViewBag.id2</td>
            </tr>
        </table>
        <!--<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>-->
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>