@{
    ViewBag.Title = "Logs";
}


@section AllPagesStyle {
    <link href="@Url.Content("~/Content/AllPages.css")" rel="stylesheet" type="text/css" />
}
@section LogsStyle {
    <link href="@Url.Content("~/Content/Logs.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

<p class="filter">
    <input type="button" class="button" id="filterButton" value="Filter">
    <input type="text" class="textbox" id="logTypeToFilterBy" placeholder="Search for log type.." title="Type in a log type" />
</p>

<table id="LogsTable">
    <tr class="tableCategories">
        <th>Log Type</th>
        <th>Message</th>
    </tr>

    @{ foreach (var log in ViewBag.logsList)
        {
            <tr>
                <td>@log.Type</td>
                <td>@log.Content</td>
            </tr>
        }
    }
</table>

<script>
    document.getElementById("filterButton").onclick = function () {
        var inputType, filter, table, tr, td, i;
        inputType = document.getElementById("logTypeToFilterBy");
        filter = inputType.value.toUpperCase();
        table = document.getElementById("LogsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
