@model ImageServiceWeb.Models.Image

@{
    ViewBag.Title = "ViewPhoto";
}

@section AllPagesStyle {
    <link href="@Url.Content("~/Content/AllPages.css")" rel="stylesheet" type="text/css" />
}
@section PhotosStyle {
    <link href="@Url.Content("~/Content/Photos.css")" rel="stylesheet" type="text/css" />
}

<div>
    <h2>View Photo</h2>
    <p>Name: @Url.Content(Model.Name)</p>
    <p>Date Taken: @Url.Content(Model.Date)</p>
    <p><img src="@ViewBag.PathToFullPic" class="img-rounded" alt="Cinque Terre"></p>
    <div>
        <a href="@Url.Action("DeletePhoto", "Home", new { srcPath = Model.SrcPath})"
           class="btn btn-primary" id="deleteButton" role="button">Delete</a>
    </div>
</div>
<div>
    @Html.ActionLink("Back to Photos", "Photos")
</div>